**/.DS_Store
**/debug.log
**/__MACOSX
**/advanced-cache.php
**/wp-cache-config.php
*-wprbackups
**/.env
**/.phpunit.result.cache
**/.csv
**/.svg
**/.zip

.vagrant
.vscode
.idea
.DS_Store
node_modules
storage/*.key
vendor
httpdocs.old
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log