httpdocs/wordpress/.htaccess
httpdocs/wordpress/.htaccess-*
httpdocs/wordpress/wp-config.php
httpdocs/wordpress/wp-config-sample.php
httpdocs/wordpress/readme.html
httpdocs/wordpress/license.txt
httpdocs/wordpress/wp-snapshots
httpdocs/wordpress/wp-content/uploads/*
httpdocs/wordpress/package-lock.json
httpdocs/wordpress/node_modules/*
httpdocs/wordpress/wp-content/cache
httpdocs/wordpress/mu-plugins
httpdocs/wordpress/wflogs
httpdocs/wordpress/wp-content/themes/twentyfourteen
httpdocs/wordpress/wp-content/themes/twentyfifteen
httpdocs/wordpress/wp-content/themes/twentysixteen
httpdocs/wordpress/wp-content/themes/twentyseventeen
httpdocs/wordpress/wp-content/themes/twentyeighteen
httpdocs/wordpress/wp-content/themes/twentynineteen
httpdocs/wordpress/wp-content/themes/twentytwenty

**/.DS_Store
**/debug.log
**/__MACOSX
**/advanced-cache.php
**/wp-cache-config.php
*-wprbackups
**/.env
**/.phpunit.result.cache
**/.csv
**/.svg
**/.zip

httpdocs/laravel/csv/*
httpdocs/laravel/logos/*
.vagrant
.vscode
.idea
.DS_Store
node_modules
httpdocs/laravel/hot
httpdocs/laravel/storage
storage/*.key
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log