/* Code to change background colour */
body {
    background-color:#eeeeee;
}

/* Code to format the navigation menu */
.header-nav {
    padding-left:10px;
}

nav.header-nav {
    background-color:#2e6e9e;
}

.user-found, .user-private, .user-images {
    cursor: pointer;
}

nav a {
    display: inline-block;
    color: #fefefe;
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #2e9e9b;
    color: #fefefe;
}

#hyperlink {
  color: #2e6e9e !important;
}

.input--border-curved {
    border: 1px solid #6c757d;
    border-radius: 10px;
}

.input--font-large {
    font-size:24px;
}

.form--padding-top {
    padding-top:15px;
}

.text--colour-grey {
    color:grey;
}

.fa-circle-online {
  color: green;
}

.fa-circle-offline {
    color: grey;
}

.find-steam-id-button {
    text-align: center;
}

.steam-overall-results, .steam-id-user-game-results {
    display: flex;
}

#steam-user-id-input-box {
    width:100%; 
    text-align:center;
    font-size: 32px;
}

.steam-id-game-div {
    padding-left:100px;
    text-align: center;
}

img {
    border-style: ridge;
    border-color: #808080;
}

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}