/* Code to change background colour */
body {
    background-color:#eeeeee;
}

/* Code to format the navigation menu */
.header-nav li {
    padding-left:10px;
}

nav.header-nav {
    background-color:#2e6e9e;
}

nav a {
    display: inline-block;
    color: #fefefe;
    padding: 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #2e9e9b;
    color: #fefefe;
}

#hyperlink {
  color: #2e6e9e !important;
}

.input--border-curved {
    border-radius: 6px;
}

.input--font-large {
    font-size:24px;
}

.form--padding-top {
    padding-top:15px;
}

.text--colour-grey {
    color:grey;
}

.fa-circle-online {
  color: green;
}

.fa-circle-offline {
    color: grey;
}

.steam-overall-results, .steam-id-user-game-results {
    display: flex;
    flex-wrap: wrap;
}

.steam-id-game-div {
    padding-left:250px;
}