/* Code to change background colour */
body {
    background-color:#fefefe;
}

/* Code to format the navigation menu */
.header-nav li {
    padding-left:10px;
}

nav.header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#2e6e9e;
    padding-top:5px;
}

nav a {
    display: inline-block;
    color: #fefefe;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #e17009;
    color: #fefefe;
}

#hyperlink {
  color: #2e6e9e !important;
}

.input--border-curved {
    border-radius: 6px;
}

.input--font-large {
    font-size:24px;
}

.form--padding-top {
    padding-top:15px;
}
