.btn {
	align-items: center;
	border-radius: .55em;
	color: $color-white;
	display: inline-flex;
	font-size: .875em;
	font-weight: 700;
	min-width: 140px;
	height: 36px;
	justify-content: center;
	padding: 5px 10px;
	text-align: center;
	transition: all .1s ease-in;
	width: auto;
}