.section-green_bar_2_col {
	background: $gradient-green-lime;
	color: $color-white;
	padding-top: 3em;
	padding-bottom: 3em;

	@media (min-width:768px) {
		padding-top: 3.6em;
		padding-bottom: 2.77em;
	}

	.container {
		@media (min-width:375px) {
			padding-left: 45px;
			padding-right: 45px;
		}

		@media (min-width:768px) {
			align-items: center;
			display: flex;
			justify-content: space-between;
			padding-left: 20px;
			padding-right: 20px;
		}

		::-moz-selection {
			background-color: rgba($color-white, 0.99);
			color: $color-black;
		}
		
		::selection {
			background-color: rgba($color-white, 0.99);
			color: $color-black;
		}

		.title {
			font-size: 32px;
			line-height: .85;
			margin: 0 0 .5em;

			@media (min-width:411px) {
				font-size: 38px;
			}

			@media (min-width:768px) {
				font-size: 44px;
				flex-basis: 48%;
				margin-bottom: 0;
			}

			@media (min-width:992px) {
				font-size: 56px;
			}

			@media (min-width:1200px) {
				font-size: 60px;
			}

			@media (max-width:767px) {
				br {
					display: none;
				}
			}

			&.left {
				text-align: left;
			}

			&.center {
				text-align: center;
			}

			&.right {
				text-align: right;
			}
		}

		.content {
			@media (min-width:768px) {
				flex-basis: 49%;
			}

			.subtitle {
				font-size: 26px;
				line-height: .86;

				@media (min-width:992px) {
					font-size: 32px;
				}
			}

			.text {
				line-height: 1.33;
				margin-bottom: 1.5em;

				@media (min-width:768px) {
					margin-bottom: 1em;
				}

				@media (min-width:992px) {
					font-size: 20px;
				}
			}

			.btn-wrapper {
				&.left {
					text-align: left;
				}

				&.center {
					text-align: center;
				}

				&.right {
					text-align: right;
				}
			}
		}

		&.alt {
			text-align: right;

			@media (min-width:768px) {
				.title {
					order: 1;
				}

				.content {
					order: 0;
				}
			}
		}
	}
}