.section-icons_timeline {
	padding-top: 1.875em;
	padding-bottom: 1.875em;

	@media (min-width:375px) {
		padding-left: 25px;
		padding-right: 25px;
	}

	@media (min-width:768px) {
		padding-top: 2.8em;
		padding-bottom: 2.8em;
		padding-left: 0;
		padding-right: 0;
	}

	@media (min-width:1200px) {
		padding-top: 4.1em;
		padding-bottom: 5em;
	}

	.container {
		.section-title {
			margin-bottom: 1em;
			text-align: center;
		}

		.icons {
			.single-icon {
				@media (min-width:768px) {
					display: flex;
					justify-content: space-between;
					position: relative;

					& + .single-icon {
						margin-top: -1em;
					}
				}

				@media (min-width:1200px) {
					& + .single-icon {
						margin-top: -2em;
					}
				}

				// @for $i from 1 through 100 {
				//     &.icon-#{$i} {
				//     	z-index: $i;
				//     }
				// }

				@for $i from 1 through 100 {
					&.icon-#{$i} {
						z-index: calc(100 - #{$i});
					}
				}

				.icon {
					display: block;
					margin-bottom: 1em;
					position: relative;
					text-align: center;

					@media (min-width:768px) {
						align-items: center;
						display: flex;
						flex-basis: 32%;
						justify-content: center;
						margin-bottom: 0;
						order: 2;
						transform: translateY(-1em);
					}

					i {
						background: linear-gradient(135deg, #64c0b8 0%, #b6ce17 100%);
						-webkit-background-clip: text;
						background-clip: text;
						display: block;
						font-size: 7em;
						-webkit-text-fill-color: transparent;
						text-fill-color: transparent;
						position: relative;
						z-index: 15;

						@media (min-width:768px) {
							font-size: 6em;
							margin: 15px 0;
						}

						@media (min-width:992px) {
							font-size: 6em;
						}

						@media (min-width:1200px) {
							font-size: 8em;
						}
					}

					.dot {
						background: #5aaf75;
						border-radius: 100px;
						display: block;
						height: 22px;
						position: absolute;
						width: 22px;
						z-index: 10;

						@media (min-width:768px) {
							background: linear-gradient(to top, #57ad75 0%, #b8df67 100%);;
							height: 16px;
							right: 0;
							top: 50%;
							transform: translateY(-50%);
							width: 16px;
						}

						@media (min-width:992px) {
							height: 22px;
							width: 22px;
						}
					}

					.line {
						background: linear-gradient(to top, #57ad75 0%, #b8df67 100%);	
						display: block;
						position: absolute;
						z-index: 5;

						@media (min-width:768px) {
							height: 6px;
							right: 0;
							top: 50%;
							transform: translateY(-50%);
							width: 30%;
						}
					}
				}

				.content {
					text-align: center;

					@media (min-width:768px) {
						flex-basis: 32%;
						order: 3;
						text-align: left;
					}

					.title {
						background: $gradient-green-lime;
						-webkit-background-clip: text;
						background-clip: text;
						font-size: 26px;
						line-height: 1;
						-webkit-text-fill-color: transparent;
						text-fill-color: transparent;

						@media (min-width:768px) {
							font-size: 26px;
						}

						@media (min-width:992px) {
							font-size: 32px;
						}

						@media (min-width:1200px) {
							font-size: 36px;
						}
					}

					.text {
						@media (min-width:768px) {
							font-size: .875em;
						}

						@media (min-width:992px) {
							font-size: 1em;
						}

						@media (min-width:1200px) {
							font-size: 20px;
							line-height: 1.16;
						}
					}

					.btn {
						margin-top: 1em;
					}
				}

				.spacer {
					@media (min-width:768px) {
						flex-basis: 32%;
						order: 1;
					}
				}

				@media (min-width:768px) {
					transform: translateX(150%);

					&.animate {
						animation-name: slide-from-right;
						animation-duration: 1s;
						// animation-iteration-count: infinite;
						animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
						animation-fill-mode: forwards;
						// animation-delay: 2s;
					}

					&:nth-child(even) {
						transform: translateX(-150%);
						
						.icon {
							.dot,
							.line {
								left: 0;
								right: auto;
							}
						}

						.content {
							order: 1;
							text-align: right;
						}

						.spacer {
							order: 3;
						}

						&.animate {
							animation-name: slide-from-left;
						}
					}
				}

				

				@media (max-width:767px) {
					margin-top: 2em;
					padding-top: 100px;

					.icon {
						.dot {
							bottom: 110%;
							left: 50%;
							transform: translateX(-50%);
						}

						.line {
							bottom: 110%;
							left: 50%;
							height: 100%;
							transform: translateX(-50%);
							width: 6px;
						}
					}

					&:first-child {
						margin-top: 0;
						padding-top: 0;

						.icon {
							.dot,
							.line {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}