.section-latest_news {
	background: $color-grey-light;
	// border-top: 5px solid $color-white;
	padding-top: 3.16em;
	padding-bottom: 2.44em;

	.container {
		@media (min-width:375px) {
			padding-left: 45px;
			padding-right: 45px;
		}

		@media (min-width:768px) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.section-title {
		color: #6bb872;

		@media (min-width:992px) {
			font-size: 1.77em;
		}
	}

	.articles {
		margin: 0 -20px;
		visibility: hidden;

		@media (min-width:375px) {
			margin: 0 -45px;
		}

		@media (min-width:768px) {
			margin: 0 -12px;
		}

		@media (min-width:992px) {
			margin: 0 -24px;
		}

		.slick-track {
			align-items: stretch;
			display: flex;
		}

		.slick-slide {
			height: auto;
			min-width: 0;
			padding-top: 1em;
			padding-bottom: 1em;

			.inner {
				background: $color-white;
				border-radius: .55em;
				box-shadow: -4px 4px 15px 3px rgba($color-black, .19);
				display: block;
				height: 100%;
				margin: 0 5px;
				padding: 26px 30px 26px;
				position: relative;
				transition: $transition-1;

				@media (min-width:768px) {
					box-shadow: -3px 3px 8px 2px rgba($color-black, .19);
					margin: 0 12px;
					padding: 15px;
				}

				@media (min-width:992px) {
					box-shadow: -4px 4px 15px 3px rgba($color-black, .19);
					margin: 0 24px;
					padding: 26px 30px 26px;
				}

				@media (min-width:1200px) {
					padding-bottom: 56px;
				}

				&:hover {
					box-shadow: -4px 4px 15px 3px rgba($color-black, .33);
				}

				.date {
					background: $color-white;
					border-radius: 0 0 10px 0;
					color: #7abf70;
					display: inline-block;
					font-size: 1.05em;
					left: 30px;
					padding: 7px 18px 12px 8px;
					position: absolute;
					text-align: center;
					text-transform: uppercase;
					top: 26px;
					z-index: 5;

					@media (min-width:768px) {
						font-size: .8em;
						left: 14px;
						padding: 7px 15px 10px 6px;
						top: 14px;
					}

					@media (min-width:992px) {
						font-size: 1.05em;
						left: 30px;
						padding: 7px 18px 12px 8px;
						top: 26px;
					}
				}

				.image-wrapper {
					background-color: $color-primary;
					margin-bottom: 1.11em;
					overflow: hidden;
					position: relative;

					&:after {
						content: '';
						display: table;
						padding-top: 55%;
					}

					img {
						left: 50%;
						min-height: 100%;
						min-width: 100%;
						position: absolute;
						top: 50%;
						transform: translate(-50%, -50%);
					}
				}

				.title {
					margin-bottom: .6em;
					text-transform: uppercase;

					@media (min-width:992px) {
						font-size: 1.11em;
					}
				}

				.excerpt {
					line-height: 1.33;

					span {
						color: #6bb872;
					}
				}
			}
		}
	}
}