.section-team {
	.container {
		.members {
			padding: 2em 0;

			@media (min-width:768px) {
				align-items: flex-start;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin: 0 -37px;
				padding: 3em 0;
			}

			@media (min-width:992px) {
				padding: 4em 0;
			}

			@media (min-width:1300px) {
				margin: 0 -2.23em;
			}

			.single-member {
				margin-bottom: 2em;

				@media (min-width:768px) {
					flex-basis: 50%;
				}

				@media (min-width:992px) {
					flex-basis: 33.33%;
					margin-bottom: 4em;
				}

				@media (min-width:1200px) {
					flex-basis: 25%;
					margin-bottom: 4em;
				}

				.inner {
					padding: 0 37px;

					@media (min-width:1200px) {
						padding: 0 1em;
					}

					@media (min-width:1300px) {
						padding: 0 2.23em;
					}

					.top {
						background-color: #a1a1a1;
						border-radius: 500px;
						margin-bottom: 1em;
						overflow: hidden;
						-webkit-mask-image: -webkit-radial-gradient(white, black);
						position: relative;
						width: 100%;

						@media (min-width:1200px) {
							margin-bottom: 1.25em;
						}

						&:after {
							content: '';
							display: table;
							padding-top: 100%;
						}

						.image {
							background-size: cover;
							background-position: center center;
							border-radius: 500px;
							bottom: 0;
							left: 0;
							opacity: .9;
							position: absolute;
							right: 0;
							top: 0;
						}

						.info {
							align-items: center;
							background: rgba($color-primary, .6);
							bottom: 0;
							color: $color-white;
							display: flex;
							flex-direction: column;
							height: 30%;
							justify-content: center;
							left: 0;
							letter-spacing: .02em;
							position: absolute;
							right: 0;
							text-align: center;
							transition: $transition-1;

							@media (min-width:375px) {
								height: 22%;
							}

							@media (min-width:768px) {
								height: 23%;
							}

							@media (min-width:992px) {
								height: 30%;
								transform: translateY(100%);
							}

							.name {
								display: block;
								font-size: .9em;
								font-weight: 700;
								min-width: 0;
								transition: $transition-1;

								@media (min-width:375px) {
									font-size: 1em;
								}

								@media (min-width:768px) {
									font-size: 1.22em;
								}

								@media (min-width:1200px) {
									font-size: 1em;
								}

								@media (min-width:1500px) {
									font-size: 1.22em;
								}
							}

							.role {
								display: block;
								max-width: 80%;
								margin: 0 auto;
								min-width: 0;
								transition: $transition-1;
								word-break: break-word;
							}
						}
					}

					.bio {
						font-size: 1em;
						line-height: 1.5;
						margin-bottom: 1em;
						text-align: center;

						.role {
							font-weight: 700;
						}
					}

					.social {
						align-items: center;
						display: flex;
						justify-content: center;

						a {
							align-items: center;
							background: #67b573;
							border-radius: 100px;
							color: $color-white;
							display: flex;
							height: 26px;
							justify-content: center;
							margin: 0 5px;
							width: 26px;

							@media (min-width:992px) {
								height: 31px;
								width: 31px;
							}
						}
					}
				}

				&:hover {
					.inner {
						.top {
							.info {
								transform: translateY(0);
							}
						}
					}
				}
			}
		}
	}
}