.section-text_regular_image {
	align-items: center;
	background: #fff;
	display: flex;
	color: $color-black;
	padding-top: 4em;
	padding-bottom: 4em;
	position: relative;

	@media (min-width:768px) {
		height: 360px;
		padding-top: 0;
		padding-bottom: 0;
	}

	@media (min-width:992px) {
		height: 340px;
	}

	@media (min-width:1200px) {
		height: 380px;
	}

	.container {
		@media (min-width:375px) {
			margin-left: 25px;
			margin-right: 25px;
		}

		@media (min-width:768px) {
			margin-left: auto;
			margin-right: auto;
		}

		.content {
			position: relative;
			text-align: left;
			z-index: 5;

			@media (min-width:411px) {
				width: 90%;	
			}

			@media (min-width:768px) {
				margin-left: auto;
				width: 45%;
			}

			@media (min-width:1200px) {
				width: 40%;
			}

			.title {
				&.left {
					text-align: left;
				}

				&.center {
					text-align: center;
				}

				&.right {
					text-align: right;
				}
			}

			h2 {
				font-size: 2em;
				line-height: 1;
				background: $gradient-green-lime;
				background-size: 120% 100%;
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				text-fill-color: transparent;

				@media (min-width:768px) {
					font-size: 26px;
				}

				@media (min-width:992px) {
					font-size: 32px;
				}

				@media (min-width:1200px) {
					font-size: 36px;
				}

				@media (max-width:767px) {
					br {
						display: none;
					}
				}

				&::-moz-selection {
					background: rgba($color-primary, 0.99);
					color: $color-white;
					-webkit-text-fill-color: initial;
					text-fill-color: initial;
				}
				
				&::selection {
					background: rgba($color-primary, 0.99);
					color: $color-white;
					-webkit-text-fill-color: initial;
					text-fill-color: initial;
				}
			}

			.text {
				font-size: 16px;
				line-height: 1.14;

				@media (min-width:768px) {
					font-size: 16px;
				}

				@media (min-width:992px) {
					font-size: 18px;
				}

				@media (min-width:1200px) {
					font-size: 20px;
				}
			}
		}

		.image {
			background-color: #092512;
			background-size: cover;
			background-position: center center;
			bottom: 0;
			right: 0;
			left: 0;
			position: absolute;
			top: 0;
			z-index: 0;

			@media (min-width:768px) {
				right: 50%;
			}

			&:after {
				background: rgba(#092512, .4);
				bottom: 0;
				content: '';
				left: 0;
				opacity: 0;
				position: absolute;
				right: 0;
				top: 0;
				transition: all .3s ease-out;
			}
		}

		&.alt {
			.content {

				@media (min-width:768px) {
					margin-left: 0;
					text-align: right;
				}
			}

			.image {
				@media (min-width:768px) {
					left: 50%;
					right: 0;
				}
			}
		}

		@media (max-width:767px) {
			&.mobile-image-none {
				.content {
					margin-left: auto;
					text-align: right;
				}

				.image {
					display: none;
					opacity: 0;
				}
			}

			&.mobile-image-bg {
				color: $color-white;

				.image {
					&:after {
						background: rgba(#092512, .6);
						opacity: 1;
					}
				}
			}
		}
	}

	@media (min-width:768px) {
		&:hover {
			.container {
				.image {
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
}