@font-face {
  font-family: 'heathlands';
  src:  url('../font/heathlands.eot?j51tgi');
  src:  url('../font/heathlands.eot?j51tgi#iefix') format('embedded-opentype'),
    url('../font/heathlands.ttf?j51tgi') format('truetype'),
    url('../font/heathlands.woff?j51tgi') format('woff'),
    url('../font/heathlands.svg?j51tgi#heathlands') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="hv-"], [class*=" hv-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'heathlands' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hv-bath:before {
  content: "\e900";
}
.hv-bed:before {
  content: "\e901";
}
.hv-book:before {
  content: "\e902";
}
.hv-chevron:before {
  content: "\e903";
}
.hv-exercise:before {
  content: "\e904";
}
.hv-external:before {
  content: "\e905";
}
.hv-eye:before {
  content: "\e906";
}
.hv-indoor-cycling:before {
  content: "\e907";
}
.hv-music:before {
  content: "\e908";
}
.hv-physio:before {
  content: "\e909";
}
.hv-scissors:before {
  content: "\e90a";
}
.hv-speechmarks:before {
  content: "\e90b";
}
.hv-sun:before {
  content: "\e90c";
}
.hv-tea:before {
  content: "\e90d";
}
.hv-tick:before {
  content: "\e90e";
}
.hv-wifi:before {
  content: "\e90f";
}
